<div class="content">
  <div class="flex">
    <h2>All accounts</h2>
    <a routerLink="/account/create" class="btn-orange"><i class="fa-solid fa-plus"></i> add account</a>
  </div>

  <div class="mat-elevation-z8 ">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef> First name </th>
        <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef> Last name </th>
        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <a routerLink="/accounts/{{element.id}}" class="btn-round">
            <i class="fa-solid fa-up-right-from-square"></i>
          </a>
          <a routerLink="/accounts/{{element.id}}/update" class="btn-round">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
