.avatar {
  width: 100px;
}

.flex-box {
  display: flex;
  gap: 30px;
  align-items: center;
}

.content-box h3 {
  margin: 8px 0;
}

span {
  font-weight: 900;
}

.flex {
  margin-top: 10px;
}

.center {
  justify-content: center;
}

@media (max-width: 960px) {
  .flex-box {
    flex-direction: column;
    gap: 20px;
    align-items:flex-start;
  }
  .avatar {
    margin: auto;
  }
}
