/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: #F0EFE7;
}

p {
  font-size: 14px;
}

.title {
  font-size: 1.5em;
  margin: 0.83em 0!important;
  font-weight: bold;
  text-align: center;
}

.container {
  padding: 1px 30%;
}

.content {
  margin: 100px 0;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content-box {
  background-color: #fff;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  padding: 30px;
}

.medium {
  width: 40%;
}

.large {
  width: 100%;
}

.mg-top {
  margin: 24px 0 0 0;
}

.btn-orange {
  color: #fff;
  background-color: #F57458;
  margin-bottom: 15px;
  padding: 10px 12px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  display:inline-block;
  font-size: 12px;
  font-weight: 800;
  border: none;
  text-align: center;
}

.btn-round {
  color:#000;
  padding: 8px;
  background-color: #F0EFE7;
  border-radius: 50%;
}

.btn-round:hover {
  color:#F0EFE7;
  background-color: #000;
}


@media (max-width: 960px) {
  .container {
    padding: 1px 10%;
  }

  .content {
    margin: 50px 0;
  }

  .medium {
    width: 35%;
  }
}
